/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: black; /* Example */
}
html {
  scroll-behavior: smooth;
}
body {
  /* font-family: "Julius Sans One", sans-serif; */
  font-family: "Montserrat", sans-serif;
  /* "Poppins", sans-serif; */
  background-color: white;
  background-repeat: no-repeat;  
  cursor: url("./assets/assist.png") ; 
}


.shade-blue{
  width: 500px;
    height: 69px;
    rotate: 45deg;
}

.moving {
  display: flex;
  position: relative;
  white-space: nowrap;
  animation: scroll-horizontal 20s linear infinite;
}

.moving i {
  flex-shrink: 0;
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}



/* live animation */
.blue {
  background: var(--primary);
}

.violet{
  background: #f78dff; 
}
.center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  color: red;
}

.pulse {
  animation: pulse-animation 1s infinite;
}

.pulse2 {
  animation: pulse-animation2 1s infinite;
}

@keyframes pulse-animation2 {
  0% {
    box-shadow: 0 0 0 0px rgb(77, 77, 77);
  }
  100% {
    box-shadow: 0 0 0 10px rgb(255, 255, 255);
  }
}
@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgb(255, 255, 255);
  }
  100% {
    box-shadow: 0 0 0 10px rgb(107, 107, 107);
  }
}

input[type="range"] {
  accent-color: var(--primary);
}

.anime {
  background-size: 400%;
  background-image: linear-gradient(to right, #d8d8d800 10%, #d8d8d800 20%, #d8d8d800 30%, #d8d8d800 40%, black 50%, #d8d8d800 60%, #d8d8d800 70%, #d8d8d800 80%, #d8d8d800 90%, #cfcfcf00 100%);
  animation: shimmer 5s linear infinite;
}

@keyframes shimmer {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.box {
  --angle: 0deg;
  border: 1px solid ;
  border-image: conic-gradient(from var(--angle), white, rgb(168 239 255 / 10%)) 1;
  animation: 5s rotate linear infinite;
}
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.dot {
  width: 25px;
  height: 2px;
  rotate: -50deg;
 
  background-color: rgb(255, 255, 255);
  /* border-radius: 200px 0px 200px 0px; */
  /* -webkit-border-radius: 200px 0px 200px 0px;
  -moz-border-radius: 200px 0px 200px 0px; */
  box-shadow: -4px 1px 20px 10px rgb(222, 222, 222);
  /* -webkit-box-shadow: -4px 1px 20px 10px var(--primary); */
  /* -moz-box-shadow: -4px 1px 20px 10px #8beaff; */
  /* border-image: conic-gradient(from var(--angle), rgb(168 239 255), rgb(168 239 255 / 10%)) 1; */
  animation: 20s goes linear infinite;
}

@keyframes goes {
  0% {
    left: 0%;
  }
  
  100% {
    left: 100%;
  }
}

.bluedot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--primary);
  margin: 2px;
}

.inp {
  padding: 8px;
  margin: 8px 0px 8px 8px;
  outline: none;
  font-size: small;
  background-color: transparent;
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.container .card {
  position: relative;
  width: 290px;
  height: 250px;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .container .card {
    width: 100%;
    height: 250px;
  }
}

.container .card:before {
  content: '';
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  background: radial-gradient(var(--clr), transparent, transparent);
  width: 400px;
  height: 400px;
  opacity: 0;
  transition: 0.5s, top 0s, left 0s;
}

.container .card:hover:before {
  opacity: 1;
}

.container .card:after {
  content: '';
  position: absolute;
  inset: 2px;
}


@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-2000px);
  }
}

.lable{
  display: none;
}

.label{
  display: none;
}

text.current-value{
  font-size: 10px;
  fill: rgb(255 255 255);
}

svg.speedometer{
  display: flex;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-flex;
  animation: marquee 15s linear infinite;
}

.hide-scrollbar::-webkit-scrollbar{
  display: none;
}

.hide-scrollbar{
  -ms-overflow-style:none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}
