/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: black; /* Example */
}
html {
  scroll-behavior: smooth;
}
body {
  /* font-family: "Julius Sans One", sans-serif; */
  font-family: "Montserrat", sans-serif;
  /* "Poppins", sans-serif; */
  background-repeat: no-repeat;  
  cursor: url("./assets/assist.png") ; 
}


.shade-blue{
  width: 500px;
    height: 69px;
    rotate: 45deg;
}

.moving {
  display: flex;
  position: relative;
  white-space: nowrap;
  animation: scroll-horizontal 20s linear infinite;
}

.moving i {
  flex-shrink: 0;
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* live animation */
.blue {
  background: var(--primary);
}

.violet{
  background: #f78dff; 
}
.center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  color: red;
}

.pulse {
  animation: pulse-animation 1s infinite;
}

.pulse2 {
  animation: pulse-animation2 1s infinite;
}

@keyframes pulse-animation2 {
  0% {
    box-shadow: 0 0 0 0px rgb(255, 176, 176);
    border: 1px solid white;
  }
  100% {
    box-shadow: 0 0 0 10px rgb(255, 255, 255);
    border: 1px solid white;
  }
}
@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgb(255, 255, 255);
    border: 1px solid white;
  }
  100% {
    box-shadow: 0 0 0 10px rgb(255, 167, 167);
    border: 1px solid white;
  }
}

input[type="range"] {
  accent-color: var(--primary);
}

.anime {
  background-size: 400%;
  background-image: linear-gradient(to right, rgb(0, 102, 255) 10%, #159eff 20%, rgb(255, 0, 179) 30%, #e100ff 40%, rgb(255, 29, 74) 50%, #eb6200 60%, rgb(84, 210, 255)70%, #2365ff 80%, rgb(255, 55, 195) 90%, #ff00ff 100%);
  animation: shimmer 10s linear infinite;
}

@keyframes shimmer {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.box {
  --angle: 0deg;
  border: 2px solid;
  border-image: conic-gradient(from var(--angle), rgb(105, 165, 255), rgb(255, 80, 109)) 1;
  animation: 5s rotate linear infinite;
}
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.dot {
  width: 25px;
  height: 2px;
  rotate: -50deg;
 
  background-color: rgb(255, 255, 255);
  /* border-radius: 200px 0px 200px 0px; */
  /* -webkit-border-radius: 200px 0px 200px 0px;
  -moz-border-radius: 200px 0px 200px 0px; */
  box-shadow: -4px 1px 20px 10px rgb(222, 222, 222);
  /* -webkit-box-shadow: -4px 1px 20px 10px var(--primary); */
  /* -moz-box-shadow: -4px 1px 20px 10px #8beaff; */
  /* border-image: conic-gradient(from var(--angle), rgb(168 239 255), rgb(168 239 255 / 10%)) 1; */
  animation: 20s goes linear infinite;
}

@keyframes goes {
  0% {
    left: 0%;
  }
  
  100% {
    left: 100%;
  }
}

.bluedot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--primary);
  margin: 2px;
}

.inp {
  padding: 8px;
  margin: 8px 0px 8px 8px;
  outline: none;
  font-size: small;
  background-color: transparent;
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.container .card {
  position: relative;
  width: 290px;
  height: 250px;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .container .card {
    width: 100%;
    height: 250px;
  }
}

.container .card:before {
  content: '';
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  background: radial-gradient(var(--clr), transparent, transparent);
  width: 400px;
  height: 400px;
  opacity: 0;
  transition: 0.5s, top 0s, left 0s;
}

.container .card:hover:before {
  opacity: 1;
}

.container .card:after {
  content: '';
  position: absolute;
  inset: 2px;
}


@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-2000px);
  }
}

.lable{
  display: none;
}

.label{
  display: none;
}

text.current-value{
  font-size: 10px;
  fill: rgb(255 255 255);
}

svg.speedometer{
  display: flex;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-flex;
  animation: marquee 15s linear infinite;
}

.hide-scrollbar::-webkit-scrollbar{
  display: none;
}

.hide-scrollbar{
  -ms-overflow-style:none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}
.bounce {
  animation: bounce 8s infinite;
  transition: all 8s ease;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes firework {
  0% { transform: translate(var(--x), var(--initialY)); width: var(--initialSize); opacity: 1; }
  50% { width: 0.5vmin; opacity: 1; }
  100% { width: var(--finalSize); opacity: 0; }
}

@keyframes fireworkPseudo {
  0% { transform: translate(-50%, -50%); width: var(--initialSize); opacity: 1; }
  50% { width: 0.5vmin; opacity: 1; }
  100% { width: var(--finalSize); opacity: 0; }
}

.firework,
.firework::before,
.firework::after
{
  --initialSize: 0.5vmin;
  --finalSize: 45vmin;
  --particleSize: 0.2vmin;
  --color1: yellow;
  --color2: khaki;
  --color3: white;
  --color4: lime;
  --color5: gold;
  --color6: mediumseagreen;
  --y: -30vmin;
  --x: -50%;
  --initialY: 60vmin;
  content: "";
  animation: firework 2s infinite;
  top: 50%;
  left: 50%;
  transform: translate(-50%, var(--y));
  width: var(--initialSize);
  aspect-ratio: 1;
  background: 
    
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 0%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 0%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 100%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 100%,
    
    
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,
    
    /* bottom right */
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,
    
    /* bottom left */
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22% 90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,
    
    /* top left */
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80% 10%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,
    
    /* top right */
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22% 14%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%
    ;
  background-size: var(--initialSize) var(--initialSize);
  background-repeat: no-repeat;
}

.firework::before {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;
/*   transform: translate(-20vmin, -2vmin) rotate(40deg) scale(1.3) rotateY(40deg); */
  transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
/*   animation: fireworkPseudo 2s infinite; */
}

.firework::after {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;
/*   transform: translate(44vmin, -50%) rotate(170deg) scale(1.15) rotateY(-30deg); */
  transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
/*   animation: fireworkPseudo 2s infinite; */
}

.firework:nth-child(2) {
  --x: 30vmin;
}

.firework:nth-child(2),
.firework:nth-child(2)::before,
.firework:nth-child(2)::after {
  --color1: pink;
  --color2: violet;
  --color3: fuchsia;
  --color4: orchid;
  --color5: plum;
  --color6: lavender;  
  --finalSize: 40vmin;
  left: 30%;
  top: 60%;
  animation-delay: -0.25s;
}

.firework:nth-child(3) {
  --x: -30vmin;
  --y: -50vmin;
}

.firework:nth-child(3),
.firework:nth-child(3)::before,
.firework:nth-child(3)::after {
  --color1: cyan;
  --color2: lightcyan;
  --color3: lightblue;
  --color4: PaleTurquoise;
  --color5: SkyBlue;
  --color6: lavender;
  --finalSize: 35vmin;
  left: 70%;
  top: 60%;
  animation-delay: -0.4s;
}
